.score{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background-color: cornflowerblue;
}

.highScore{
    font-size: 25px;
    color: white;
}
.currentScore{
    font-size: 25px;
    color: white;
}
.clickStart{
    font-size: 25px;
    color: white;
}