.card {
    display: flex;
    margin: 10px;
    height: 200px;
    width: 300px;
    justify-content: space-evenly;
}

.images{
    display: flex;
    border: 5px dotted black;
    width: 150px;
    align-items: center;
    justify-content: center;
}